<header>
	<nav id="navbar" class="navbar fixed-top navbar-dark navbar-expand-lg ">	
		<a class="navbar-brand ml-3 mt-0" id="logo-brand" href="/#top">todd c shea</a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto mr-3 mt-3">
				<li class="nav-item"> <a class="nav-link" href="/#strategy">strategy</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/#innovation">innovation</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/#exection">execution</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/works">work</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/contact">contact</a> </li>
			</ul>
		</div>
	</nav>	
</header>
