<!DOCTYPE html>
<html lang="en">
<head>

	<!-- INCLUDES -->
	<% include partials/include.ejs %>

</head>

<body>

	<!-- NAVIGATION -->
	<% include partials/nav.ejs %>

	<!-- MAIN CONTAINER -->
	<div class="" id="pinContainer">

		<!-- HOME PAGE -->
		<div class="grid-container title-page">
			<h1 data-aos="zoom-in">
				Providing insightful, progressive solutions 
				that differentiate companies and offer consumers 
                what they desire in a clever and unexpected way.
            </h1>

            <h2 data-aos="zoom-in">
                Excited about opportunities in the cosmetics 
                industry that utilize of my cross-functional abilities.
            </h2>
		</div>

		<!-- STRATEGY PAGE -->
		<section class="grid-container strategy-page" id="strategy">

			<div class="left-side">
                <div class="title" data-aos="fade-in">
                    <div class=>
                        <h1>
                            strategy
                        </h1>
                    </div>
            
                    <div class="title-subtitle">
                        <h2>
                            An identified plan of differentiation 
                            that outlines the company’s path to success.
                        </h2>
                    </div>
                </div>
      
                <h3 data-aos="fade-in">
                    Know what your good at and identify where you 
                    can win. Identify your consumer and build the 
                    story. Communicate to your target in a manner 
                    that rounds out the points of differentiation 
                    and the advantages your brand offers. 
                </h3>
  
                <div class="personal-experience" data-aos="fade-in">
                    <h3>
                        With experience in branding, rebranding, and 
                        strategy development for companies, corporate 
                        divisions, and product offerings, I can efficiently 
                        identify a distinctive strategy for your brand.
                    </h3>
                </div>	
            </div>

			<div class="right-side" data-aos="fade-in">
				<img src="images/NoBorder/eyeCompressed.jpg">
			</div>

		</section>

		<!-- INNOVATION PAGE -->
		<section class="grid-container innovation-page" id="innovation">
			
			<div class="right-side">
				<div class="title" data-aos="fade-in">

					<div>
						<h1>
							innovation
						</h1>
					</div>
		
					<div class="title-subtitle">
						<h2>
							Innovation is the fuel of success.
						</h2>
					</div>
				</div>
		
				<h3 data-aos="fade-in">
					The process of innovation has changed. 
					It is dynamic, fast, and essential for 
					survival in a dramatically advancing 
					marketplace. A company’s approach to 
					innovation should flex and move with 
					the market, trend, technology, and 
					distribution. It should exist in 
					every aspect of your business, forming 
					a unique customer experience at every 
					touchpoint.  
				</h3>

				<div class="personal-experience" data-aos="fade-in">
					<h3>
						My experience in creating award winning 
						innovations for dozens of national and 
						international brands will ensure a fast 
						and efficient innovation program for your company.
					</h3>
				</div>
			</div>

			<div class="left-side" data-aos="fade-in">
				<img src="images/NoBorder/CleanFlower.jpg">
			</div>


		</section>

		<!-- EXECUTION PAGE -->
		<section class="grid-container execution-page" id="exection">

			<div class="left-side">
				<div class="title" data-aos="fade-in">
					<div>
						<h1>
							execution
						</h1>
					</div>
		
					<div class="title-subtitle">
						<h2>
							Deliver the plan, create the experience, 
							sell the promise, measure the success, and refine.
						</h2>
					</div>
				</div>
	
				<h3 data-aos="fade-in">
					Your strategy is only as good as your 
					execution. A successful sales strategy 
					will focus on delivering the identified 
					customer experience at each touchpoint, 
					communicating and reinforcing the company’s 
					points of difference and bringing the brand 
					promise to life.
				</h3>
				
				<div class="personal-experience" data-aos="fade-in">
					<h3 data-aos="fade-up">
						Years of sales and marketing experience 
						have made me well versed in the execution 
						of corporate strategies. Expelling the 
						essence of the corporate strategy to create 
						marketing programs that immerse customers in 
						a unique experience and linking this to a 
						sales strategy that delivers measurable 
						results has proved to be a solid foundation 
						for success. 
					</h3>
				</div>
	
			</div>

			<div class="right-side" data-aos="fade-in">
				<img src="images/NoBorder/colorsCompressed.jpg" alt="" >
			</div>

		</section>

		<!-- FOOTER -->
		<!-- <% include partials/footer.ejs %> -->
	</div>


	<script src="javascript/scroll.js"></script>
</body>
</html>
