<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- INCLUDES -->
    <% include partials/include.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/works.css" />
  </head>

  <body>
    <!-- NAVIGATION -->
    <% include partials/nav.ejs %>

    <!-- MAIN CONTAINER -->
    <div class="" id="pinContainer">
      <section class="grid-container intro">
        <div class="voyant-logo">
          <img src="images/works-page/voyant/VBLandscapeLogoC.png" />

          <h1>
            Welcome to my work page.
            <span
              >All the items included here were produced with teams of talented
              individuals.</span
            >
          </h1>
        </div>

        <div class="intro-content">
          <p>
            <b>Challenge</b>: Rebrand three consolidated companies to create one
            integrated brand that maintains the credibility of the separate
            entities.
          </p>

          <p>
            <b>Corporate Strategy</b>: Distinguish the company as a complete
            solutions provider with the only integrated network of facilities to
            support the entire brand lifecycle.
          </p>

          <p>
            <b>Marketing Strategy</b>: Identify a unique, one-word name separate
            from the previous companies that positions the company as a
            visionary partner, offering innovation in every aspect of its
            business.<br />

            <span style="display: block; margin-top: 0.4rem;"></span>

            Focus of market positioning revolved around integration,
            manufacturing solutions, brand lifecycle support, innovation, and
            faster speed to market.<br />

            <span style="display: block; margin-top: 0.4rem;"></span>

            Visuals were bold and unique yet designed to communicate the
            behind-the-scenes position of this strategic solutions partner.
          </p>

          <p>
            <b>Product Strategy</b>: Innovate with smaller, emerging brands and
            allow this innovation to drive direction and solutions for larger
            brands.
          </p>
        </div>

        <div class="intcont">
          <p>
            <b>Challenge</b>: Rebrand three consolidated companies to create one
            integrated brand that maintains the credibility of the separate
            entities.

            <span style="display: block; margin-top: 1.38rem;"></span>

            <b>Corporate Strategy</b>: Distinguish the company as a complete
            solutions provider with the only integrated network of facilities to
            support the entire brand lifecycle.

            <span style="display: block; margin-top: 1.38rem;"></span>

            <b>Product Strategy</b>: Innovate with smaller, emerging brands and
            allow this innovation to drive direction and solutions for larger
            brands.
          </p>
        </div>

        <div class="intcont">
          <p>
            <b>Marketing Strategy</b>: Identify a unique, one-word name separate
            from the previous companies that positions the company as a
            visionary partner, offering innovation in every aspect of its
            business.<br />

            <span style="display: block; margin-top: 0.4rem;"></span>

            Focus of market positioning revolved around integration,
            manufacturing solutions, brand lifecycle support, innovation, and
            faster speed to market.<br />

            <span style="display: block; margin-top: 0.4rem;"></span>

            Visuals were bold and unique yet designed to communicate the
            behind-the-scenes position of this strategic solutions partner.
          </p>
        </div>
      </section>

      <section class="grid-container voyant-mc">
        <div class="top pr">
          <div class="voyant-logo">
            <img src="images/works-page/voyant/VBLandscapeLogoC.png" />
          </div>
          <h1>
            <u>Brand Execution</u>
            <br />
            <span style="display: block; margin-top: 0.5rem;"></span>
            Marketing Collateral
          </h1>

          <div class="top-img">
            <img src="images/works-page/voyant/VBWebCollat/WebFolder-sm.png" />
          </div>

          <div class="trw">
            <img src="images/works-page/voyant/VBWebCollat/WebFlatAll-sm.png" />
            <img src="images/works-page/voyant/VBWebCollat/WebFlatBag-sm.png" />
          </div>
        </div>

        <div class="col1 pl">
          <div class="img1">
            <img
              src="images/works-page/voyant/VBWebCollat/BrochureCover-sm.png"
            />
          </div>
          <div>
            <img src="images/works-page/voyant/VBWebCollat/FlderInter-sm.png" />
          </div>

          <div class="trw">
            <img src="images/works-page/voyant/VBWebCollat/WebStnd-sm.png" />
            <img src="images/works-page/voyant/VBWebCollat/WebFoldOpn-sm.png" />
          </div>
        </div>

        <div class="col2 pr">
          <img src="images/works-page/voyant/VBWebCollat/WebFlatAll-sm.png" />
          <img src="images/works-page/voyant/VBWebCollat/WebFoldOpn-sm.png" />
        </div>

        <div class="col3 pl">
          <img src="images/works-page/voyant/VBWebCollat/WebStnd-sm.png" />
          <img src="images/works-page/voyant/VBWebCollat/WebFlatBag-sm.png" />
        </div>
      </section>

      <section class="grid-container voyant-in">
        <div class="top pr">
          <div class="voyant-logo">
            <img src="images/works-page/voyant/VBLandscapeLogoC.png" />
          </div>
          <h1>
            <u>Brand Execution</u>
            <br />
            <span style="display: block; margin-top: 0.5rem;"></span>
            Building Design
          </h1>

          <div class="top-img">
            <img src="images/works-page/voyant/VBWebInt/DanshLob.png" />
          </div>

          <div class="trw">
            <img src="images/works-page/voyant/VBWebInt/Stairs.png" />
            <img src="images/works-page/voyant/VBWebInt/WorkingConf.png" />
          </div>
        </div>

        <div class="row1 pl">
          <div></div>
          <img src="images/works-page/voyant/VBWebInt/LAUpstairs.png" />
          <div>
            <img src="images/works-page/voyant/VBWebInt/WallBanner.png" />
          </div>

          <div class="trw">
            <img src="images/works-page/voyant/VBWebInt/Confer.png" />
            <img src="images/works-page/voyant/VBWebInt/Exterior.png" />
          </div>
        </div>

        <div class="row2">
          <img src="images/works-page/voyant/VBWebInt/Stairs.png" />
          <img src="images/works-page/voyant/VBWebInt/WorkingConf.png" />
          <img src="images/works-page/voyant/VBWebInt/Confer.png" />
          <img src="images/works-page/voyant/VBWebInt/Exterior.png" />
        </div>
      </section>

      <section class="grid-container aware-intro">
        <div class="voyant-logo">
          <img src="images/works-page/aware/AwareLogo.JPG" />
        </div>

        <div class="intro-content">
          <p>
            <b>Challenge</b>: Accelerate a stagnant contract manufacturing
            business, reduce inventory levels, and improve EBITDA to position
            for sale.<br />
          </p>

          <p>
            <b>Strategy</b>: Create added value for brand partners with
            proactive innovation and a flexible formula library, reducing
            development time and increasing speed to market. Couple this
            approach with an improved service model to reduce the challenges
            associated with outside product development and manufacturing.<br />
          </p>

          <p>
            <b>Marketing Strategy</b>: Use bold, iconic brand imagery inspired
            by the company’s Los Angeles heritage that speaks to the final
            decision makers in marketing and product development with familiar
            B2C elements that differentiate the company from other contract
            manufacturers.<br />
          </p>

          <p>
            <b>Product Strategy</b>: Introduce proactive innovations to branded
            customers to assist them in product differentiation and white space
            identification. Offer a formula library organized to simplify the
            product development process while allowing ample room for each
            formula to be a custom product.<br />
          </p>

          <p>
            <b>Sales Strategy</b>: Approach the sale on every level of customer
            interaction, delivering the brand promise at each customer
            touchpoint, while focusing on emerging brands as the target
            customer.
          </p>
        </div>

        <div class="intcont">
          <p>
            <b>Challenge</b>: Accelerate a stagnant contract manufacturing
            business, reduce inventory levels, and improve EBITDA to position
            for sale.<br />

            <span style="display: block; margin-top: 1.38rem;"></span>

            <b>Strategy</b>: Create added value for brand partners with
            proactive innovation and a flexible formula library, reducing
            development time and increasing speed to market. Couple this
            approach with an improved service model to reduce the challenges
            associated with outside product development and manufacturing.<br />

            <span style="display: block; margin-top: 1.38rem;"></span>

            <b>Marketing Strategy</b>: Use bold, iconic brand imagery inspired
            by the company’s Los Angeles heritage that speaks to the final
            decision makers in marketing and product development with familiar
            B2C elements that differentiate the company from other contract
            manufacturers.<br />
          </p>
        </div>

        <div class="intcont" style="padding-top: 9.1em;">
          <p>
            <b>Product Strategy</b>: Introduce proactive innovations to branded
            customers to assist them in product differentiation and white space
            identification. Offer a formula library organized to simplify the
            product development process while allowing ample room for each
            formula to be a custom product.<br />

            <span style="display: block; margin-top: 1.38rem;"></span>

            <b>Sales Strategy</b>: Approach the sale on every level of customer
            interaction, delivering the brand promise at each customer
            touchpoint, while focusing on emerging brands as the target
            customer.
          </p>
        </div>
      </section>

      <section class="grid-container aware-mc">
        <div class="col4 pr">
          <div class="top1">
            <div class="voyant-logo">
              <img src="images/works-page/aware/AwareLogo.JPG" />
            </div>
            <h1>
              <u>Brand Execution</u>
              <br />
              <span style="display: block; margin-top: 0.5rem;"></span>
              Marketing Collateral
            </h1>
          </div>

          <div class="row3">
            <img
              src="images/works-page/aware/AwareWorx/Aware-Stationary-sm.png"
            />
            <img
              src="images/works-page/aware/AwareWorx/Aware-TextureBks-sm.png"
            />
          </div>

          <div class="row4">
            <img
              src="images/works-page/aware/AwareWorx/Aware-TravelSet-sm.png"
            />
            <img
              src="images/works-page/aware/AwareWorx/Aware-FldrOpend-sm.png"
            />
          </div>
        </div>

        <div class="col5 pl">
          <div class="row5">
            <img src="images/works-page/aware/AwareWorx/Aware-Bags-sm.png" />
            <img
              src="images/works-page/aware/AwareWorx/Aware-Boxes-01-sm.png"
            />
          </div>

          <div>
            <img
              src="images/works-page/aware/AwareWorx/Aware-FolderSpread-sm.png"
            />
          </div>
        </div>
      </section>

      <section class="grid-container aware-in">
        <div class="top pr">
          <div class="voyant-logo">
            <img src="images/works-page/aware/AwareLogo.JPG" />
          </div>
          <h1>
            <u>Brand Execution</u>
            <br />
            <span style="display: block; margin-top: 0.5rem;"></span>
            Building Design
          </h1>

          <div class="top-img">
            <img src="images/works-page/aware/AwareInt/HllywdHall-sm.jpg" />
          </div>

          <div class="trw">
            <img src="images/works-page/aware/AwareInt/LobbyR-sm.jpg" />
            <img src="images/works-page/aware/AwareInt/ZumaBeachConf-sm.jpg" />
          </div>
        </div>

        <div class="row1 pl">
          <div></div>
          <img src="images/works-page/aware/AwareInt/OrigCrop/APOffice1.png" />
          <img src="images/works-page/aware/AwareInt/LAArtShelves-sm.jpg" />
          <img src="images/works-page/aware/AwareInt/TheForumConf-sm.jpg" />
        </div>

        <div class="row2">
          <img src="images/works-page/aware/AwareInt/LobbyR-sm.jpg" />
          <img src="images/works-page/aware/AwareInt/ZumaBeachConf-sm.jpg" />
        </div>
      </section>

      <section class="grid-container nat-brands">
        <div class="brands-title">
          <h1>
            National Brands
          </h1>
        </div>

        <div class="intro-content">
          <p>
            These are some of the national brands for which I have had the
            opportunity to identify white space, develop innovations, and
            collaborate on product strategy.
          </p>
        </div>

        <div class="brands-img">
          <img src="images/works-page/TSBrands.png" />
        </div>
      </section>

      <section class="grid-container products">
        <div class="prod1">
          <div>
            <img
              src="images/works-page/ProductPics/VicSecret-HydrBodyLotion.png"
            />
          </div>

          <div>
            <img src="images/works-page/ProductPics/Pink-SurfScrub.png" />
          </div>

          <div>
            <img
              src="images/works-page/ProductPics/PerriconeMD-ChloroPlasma-12ml.png"
            />
          </div>

          <div>
            <img src="images/works-page/ProductPics/Illume-Nomad-Scrub.png" />
          </div>

          <div>
            <img src="images/works-page/ProductPics/BBW-CocoShae.png" />
          </div>

          <div style="grid-area: pb;" id="mobile">
            <img src="images/works-page/ProductPics/BBW-Argan-BodyButter.png" />
          </div>
        </div>

        <div class="prod2">
          <div class="prod21">
            <div style="grid-area: pt1;">
              <img src="images/works-page/ProductPics/Ever-Glace.png" />
            </div>

            <div style="grid-area: pt2;">
              <img src="images/works-page/ProductPics/Illume-Nomad-Mist.png" />
            </div>

            <div style="grid-area: pb;">
              <img src="images/works-page/ProductPics/UltaHair.png" />
            </div>
          </div>

          <div>
            <img
              src="images/works-page/ProductPics/DevaCurl-BuildupBuster_1.png"
            />
          </div>

          <div class="prod22">
            <div style="grid-area: pt1;">
              <img src="images/works-page/ProductPics/PerfectlyPoshX3.png" />
            </div>

            <div style="grid-area: pt2;">
              <img
                src="images/works-page/ProductPics/SexyHair-Creme2-PowderPlay.png"
              />
            </div>

            <div style="grid-area: pb;" id="large">
              <img
                src="images/works-page/ProductPics/BBW-Argan-BodyButter.png"
              />
            </div>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
    </div>
  </body>
</html>
