<!DOCTYPE html>
<html lang="en">
<head>

	<!-- INCLUDES -->
	<% include partials/include.ejs %>

</head>

<body>

	<!-- NAVIGATION -->
	<% include partials/nav.ejs %>

	<!-- MAIN CONTAINER -->
	<div class="" id="pinContainer">

        <!-- FOOTER -->
        
	</div>

</body>
</html>
