<!DOCTYPE html>
<html lang="en">
<head>

	<!-- INCLUDES -->
	<% include partials/include.ejs %>
	<link rel="stylesheet" type="text/css" href="stylesheets/works.css">

</head>

<body>

	<!-- NAVIGATION -->
	<% include partials/nav.ejs %>

	<!-- MAIN CONTAINER -->
	<div class="" id="pinContainer">

		<div class="grid-container intro">
			<div class="voyant-logo">
				<img src="images/works-page/voyant/VBLandscapeLogoC.png">

				<h1>
					Welcome to my work page. All the items included 
					here were produced with teams of talented individuals.
				</h1>
			</div>

			<div class="intro-content">
				<p>
					<b>Challenge</b>: Rebrand three consolidated companies 
					to create one integrated brand that maintains 
					the credibility of the separate entities.
				</p>

				<p>
					<b>Corporate Strategy</b>: Distinguish the company as 
					a complete solutions provider with the only 
					integrated network of facilities to support the 
					entire brand lifecycle.
				</p>

				<p>
					<b>Marketing Strategy</b>:  Identify a unique, one-word 
					name separate from the previous companies that 
					positions the company as a visionary partner, 
					offering innovation in every aspect of its 
					business.<br>

					<span style="display: block; margin-top: 0.4rem;"></span>

					Focus of market positioning revolved around 
					integration, manufacturing solutions, brand 
					lifecycle support, innovation, and faster speed 
					to market.<br>

					<span style="display: block; margin-top: 0.4rem;"></span>
										
					Visuals were bold and unique yet designed to 
					communicate the behind-the-scenes position of 
					this strategic solutions partner.
				</p>

				<p>
					<b>Product Strategy</b>: Innovate with smaller, 
					emerging brands and allow this innovation to 
					drive direction and solutions for larger 
					brands.
				</p>
			</div>
		</div>

		<div class="grid-container voyant-mc">
			<div class="top">
				<div class="voyant-logo">
					<img src="images/works-page/voyant/VBLandscapeLogoC.png">
				</div>
				<h1>
					<u>Brand Execution</u>
					<br>
					<span style="display: block; margin-top: 0.5rem;"></span>
					Marketing Collateral
				</h1>

				<div class="top-img">
					<img src="images/works-page/voyant/VBWebCollat/WebFolder-sm.png">
				</div>
			</div>

			<div class="col1">
				<div class="img1">
					<img src="images/works-page/voyant/VBWebCollat/BrochureCover-sm.png">
				</div>
				<div>
					<img src="images/works-page/voyant/VBWebCollat/FlderInter-sm.png">
				</div>
			</div>

			<div class="col2">
				<img src="images/works-page/voyant/VBWebCollat/WebFlatAll-sm.png">
				<img src="images/works-page/voyant/VBWebCollat/WebFoldOpn-sm.png">
			</div>

			<div class="col3">
				<img src="images/works-page/voyant/VBWebCollat/WebStnd-sm.png">
				<img src="images/works-page/voyant/VBWebCollat/WebFlatBag-sm.png">
			</div>

		</div>

		<div class="grid-container voyant-in">
			<div class="top">
				<div class="voyant-logo">
					<img src="images/works-page/voyant/VBLandscapeLogoC.png">
				</div>
				<h1>
					<u>Brand Execution</u>
					<br>
					<span style="display: block; margin-top: 0.5rem;"></span>
					Building Design
				</h1>

				<div class="top-img">
					<img src="images/works-page/voyant/VBWebInt/DanshLob.png">
				</div>
			</div>

			<div class="row1">
					<img src="images/works-page/voyant/VBWebInt/LAUpstairs.png" id="ri1">
				<div>
					<img src="images/works-page/voyant/VBWebInt/WallBanner.png">
				</div>
			</div>

			<div class="row2">
				<img src="images/works-page/voyant/VBWebInt/Stairs.png">
				<img src="images/works-page/voyant/VBWebInt/WorkingConf.png">
				<img src="images/works-page/voyant/VBWebInt/Confer.png">
				<img src="images/works-page/voyant/VBWebInt/Exterior.png">
			</div>

		</div>

		<div class="grid-container intro">
			<div class="voyant-logo">
				<img src="images/works-page/aware/AwareLogo.JPG">
			</div>

			<div class="intro-content">
				<p>
					<b>Challenge</b>: Accelerate a stagnant contract 
					manufacturing business, reduce inventory levels, 
					and improve EBITDA to position for sale.<br><br>
	
					<b>Strategy</b>: Create added value for brand 
					partners with proactive innovation and a flexible 
					formula library, reducing development time and 
					increasing speed to market. Couple this approach 
					with an improved service model to reduce the 
					challenges associated with outside product 
					development and manufacturing.<br><br>
	
					<b>Marketing Strategy</b>: Use bold, iconic brand imagery 
					inspired by the company’s Los Angeles heritage that 
					speaks to the final decision makers in marketing and 
					product development with familiar B2C elements that 
					differentiate the company from other contract manufacturers.<br><br>

					<b>Product Strategy</b>: Introduce proactive innovations to 
					branded customers to assist them in product 
					differentiation and white space identification. Offer 
					a formula library organized to simplify the product 
					development process while allowing ample room for 
					each formula to be a custom product.<br><br>

					<b>Sales Strategy</b>: Approach the sale on every level of 
					customer interaction, delivering the brand promise 
					at each customer touchpoint, while focusing on emerging 
					brands as the target customer.
				</p>
			</div>
		</div>

		<div class="grid-container aware-mc">

		</div>

		<div class="grid-container aware-in">

		</div>		

        <!-- FOOTER -->
        
	</div>

</body>
</html>
