@font-face {
	font-family: "Gravity-Regular";
	src: url("../fonts/gravity/Gravity-Regular.otf");
}

@font-face {
	font-family: "nordiquepro";
	src: url("../fonts/nordiquepro/NordiquePro-Regular.otf");
}