/* .grid-container {
	height: auto;
} */

img {
	border: 0.4vw solid #fff;
	border-radius: 3px;
	max-width: 100%;
}

u {
	text-decoration: underline;
	text-underline-position: under;
}

.grid-container {
	height: auto;
}

/* Phone */
@media only screen and (min-width: 320px) and (max-width: 1023px) {

	body {
		text-align: center;
	}

	nav {
		text-align: left;
	}

	h1 {
		font-size: 1.9rem ;
	}

	p {
		font-size: 1.3rem;
	}

	p b {
		color: #fff;
	}

	img {
		border-width: 5px;
	}

	.grid-container {
		display: flex;
		flex-wrap: wrap;
		padding: 0 5%;
	}

	.voyant-logo, .intro-content {
		flex: 100%;
		max-width: 100%;
		padding-bottom: 1em;
	}

	.intro .voyant-logo {
		display: grid;
		grid-template-areas:
		'head'
		'image';
		padding-top: 6em;
	}

	.voyant-logo img {
		grid-area: image;
	}

	.voyant-logo h1 {
		grid-area: head;
		margin-bottom: 3em;
	}

	.voyant-logo span {
		display: table;
		margin: auto;
	}

	.intro-content {
		text-align: left;
	}

	.intro-content p {
		color: #ccc;
		padding: 0.75em;
	}

	.voyant-mc .voyant-logo, .voyant-in .voyant-logo, .aware-in .voyant-logo,
	.aware-mc .voyant-logo, .voyant-mc .col2, .voyant-mc .col3, .row2, #large, .intcont {
		display: none;
	}

	.top h1, .top1 h1 {
		font-size: 2.5em;
		margin: 1.5em 0;
	}

	.voyant-mc .top h1, .aware-mc .top1 h1 {
		margin-top: 1.5em;
	}

	.top-img, .col1 img, .col2 img, .col3 img, .col5 img, .row1 img, .row2 img,
	.row3 img, .row4 img, .trw img {
		margin: 0.5em 0;
	}

	.aware-intro{
		margin-top: 7em;
	}

	.nat-brands {
		margin: 7em 0 0.5em 0;
	}

	.brands-title {
		margin: auto;
	}

	.brands-title h1 {
		font-size: 2.5rem;
	}

	.brands-img img {
		border-width: 0;
		border-radius: 0;
	}

	.prod1, .prod2 {
		flex: 50%;
		max-width: 50%;
	}

	.products img {
		border-width: 0;
		border-radius: 4px;
		padding: 0.5em;
	}

	.prod1 img {
		padding-left: 0;
	}

	.prod2 img {
		padding-right: 0;
	}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.intro-content {
		display: none;
	}

	.intcont {
		display: block;
	}

	.intcont {
		text-align: left;
		flex: 50%;
		max-width: 50%;
		padding-bottom: 1em;
	}

	.intcont p {
		color: #ccc;
		padding: 0.75em;
	}

	.top, .col1, .col2, .col3, .col4, .col5, .row1, .row2 {
		flex: 50%;
		max-width: 50%;
	}

	.col1, .row1, .col5 {
		padding-top: 6.5em;
	}

	.pl {
		padding-left: 0.5em;
	}

	.pr {
		padding-right: 0.5em;
	}

}

/* Laptop / Desktop */
@media (min-width: 1024px) {

	html {
		font-size: 16px;
	}

	.trw, .intcont {
		display: none;
	}

	.works-title {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		text-align: center;
	}

	.voyant-logo {
		width: 42.5%;
		padding: 104px 0 0 2.5%;
	}

	.intro .voyant-logo {
		width: 100%;
		display: grid;
		grid-template-columns: 4.25fr 5.75fr;
	}

	.intro .voyant-logo img {
		width: 100%;
		height: auto;
	}

	.aware-intro {
		margin-top: 8%;
	}

	.aware-intro .voyant-logo {
		width: 25%;
		padding-top: 0;
	}

	.aware-intro .voyant-logo img, .aware-in .voyant-logo img,
	.aware-mc .voyant-logo img {
		border-width: 0;
	}

	.intro .voyant-logo h1 {
		font-size: 1.75vw;
		padding: 0 10% 0 5%;
		align-self: center;
	}

	.intro-content {
		justify-self: center;
		width: 33%;
		margin-top: 3%;
	}

	.intro-content p {
		font-size: 1.25rem;
		color: #ddd;
		line-height: 1.25;
	}

	.intro-content b {
		color: #fff;
		font-size: 1.35rem;
	}

	.voyant-mc {
		grid-template-columns: 0.85fr 1fr 1fr;
		grid-template-rows: auto;
		height: auto;

		grid-template-areas:
		't t t'
		'p1 p2 p3';
	}

	.voyant-in, .aware-in {
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		grid-template-areas:
		't'
		'r1'
		'r2';
	}

	.aware-mc {
		grid-template-columns: 10fr 9fr;
		grid-row: auto;
		grid-template-areas:
		'c1 c2';
	}

	.voyant-in, .voyant-mc, .aware-in, .aware-mc, .nat-brands, .products {
		grid-gap: 1.25em;

		padding: 0 2.5%;
		margin-top: 7em;
	}

	.top {
		grid-area: t;
		display: grid;
		grid-template-columns: 42.5% auto auto;
		grid-template-rows: 1fr;
		grid-column-gap: 1em;
		width: fit-content;
	}

	.top h1 {
		font-size: 2.5rem;
	}

	.top1 {
		display: grid;
		grid-template-columns: 46% auto;
		align-items: flex-start;
		justify-self: normal;
	}

	.top1 h1 {
		font-size: 2.5rem;
		padding-left: 0.5em;
	}

	.top-img {
		width: 60%;
		justify-self: self-end;
		padding-top: 10%;
	}

	.top .voyant-logo, .aware-mc .voyant-logo {
		width: 100%;
		padding: 0
	}

	.aware-in .top {
		grid-template-columns: 24% auto auto;
	}

	.aware-in .top-img {
		padding-top: 0;
	}

	.col1, .col2, .col3, .col4, .col5, .row1, .row2,
	.row3, .row4, .row5, .prod1, .prod2, .prod21, .prod22 {
		display: grid;
		align-content: flex-end;
		align-items: flex-end;
		grid-gap: 1.5em;
		justify-items: self-end;
	}

	.col1 {
		grid-area: p1;
	}

	.col2 {
		grid-area: p2;
	}

	.col3 {
		grid-area: p3;
	}

	.col1 .img1 {
		width: 50%;
	}

	.col4 {
		grid-area: c1;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
	}

	.col5 {
		grid-template-rows: auto auto;
	}

	.col5 {
		grid-area: c2;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.row1 {
		grid-area: r1;
		grid-template-columns: 0.415fr 0.595fr 1fr;
	}

	.row2 {
		grid-area: r2;
		grid-template-columns: 0.55fr 1fr 1fr 1fr;
	}

	.row3 {
		grid-template-columns: 3.75fr 6.25fr;
		grid-template-rows: auto;
		margin-top: 20%;
	}

	.row4 {
		grid-template-columns: 4.775fr 5.225fr;
	}

	.row5 {
		grid-template-columns: 5.305fr 4.695fr;
	}

	.row1 img, .row2 img {
		width: auto;
	}

	.aware-in .row1 {
		grid-template-columns: 0.33fr 1.115fr 1fr 1fr;
	}

	.aware-in .row2 {
		grid-template-columns: 1fr 1fr;
	}

	.brands-title {
		width: fit-content;
		margin: auto;
		padding: 0.5em;
		border: solid 5px #fff;
	}

	.brands-title h1 {
		font-size: 3rem;
	}

	.nat-brands .intro-content {
		text-align: center;
		margin: auto;
		margin-top: 1.5em;
	}

	.brands-img {
		width: 50%;
		margin: auto;
		margin-top: 1em;
	}

	.products {
		grid-template-columns: auto;
		grid-template-rows: 1fr 1.97fr;
	}

	.products img {
		border-style: none;
	}

	.prod1 {
		grid-template-columns: 0.998fr 1.205fr 1.201fr 1.14fr 0.96fr;
	}

	.prod2 {
		grid-template-columns: 1.191fr 1.173fr 0.999fr;
		grid-template-rows: auto;
		height: min-content;
		align-content: flex-start;
	}

	.prod21 {
		grid-template-columns: 1.82fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		'pt1 pt2'
		'pb pb';
	}

	.prod22 {
		grid-template-columns: 1.012fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
		'pt1 pt2'
		'pb pb';
	}

	#mobile {
		display: none;
	}

}

@media only screen and (min-width: 1024px) and (max-width: 1325px) {

	.top h1, .top1 h1 {
		font-size: 1.9rem;
	}
}